@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    background-color: white;
}

body{
    background-color: chocolate;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.container{
    width: 70%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px;
    border-radius: 40px;
    overflow: hidden;
    box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16), -10px -10px 10px -1px rgba(255, 255, 255, 0.7)
}

.container .img-box {
    height: 100%;
    width: 50%;
    background-color: white;
}

.container .img-box img {
     margin-left: 30px;
     width: 100%;
     height: 100%;
     object-fit: contain;
}

.container .content-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.container .content-box .content{
    width: 65%;
}

.container .content-box .content h2{
    color: rgba(0,0,0,0.8);
    border-bottom: 3px solid rgba(233,62,91);
    padding: 5px;
    text-align: center;
    display: inline-block;
    margin: 30px;
    font-size: 1.7rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.input-box label{
    display: block;
    color: rgba(0, 0,0,0.7);
    letter-spacing: 1px;
}

.input-box input {
    width: 100%;
    height: 50px;
    padding: 0 30px;
    border-radius: 60px;
    margin: 10px 0;
    outline: none;
    border: none;
    font-size: 0.9rem;
    box-shadow: 5px 5px 5px -1px rgba(10, 99, 169, 0.16), -7px -7px 5px -1px rgba(255, 255, 255, 0.7);
}

.input-box #lnk_recuperarpw, #lnk_registar {
    color: cornflowerblue;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
}

.input-box input[type="submit"] {
    background-color: rgba(233, 62, 91);
    box-shadow: none;
    color: white;
    box-shadow: 12px 12px 12px -1px rgba(10, 99, 169, 0.16), -9px -9px 9px -1px rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 0.9rem;
    cursor: pointer;
}

.social-media{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media i{
    padding: 15px;
    margin: 0 7px;
    font-size: 1.3rem;
    border-radius: 50%;
    transition: 0.5s;
    margin-top: 20px;
    color: rgba(233,62,91);
    box-shadow: 4px 4px 4px -1px rgba(10,99,169,0.16), -10px -10px 10px -1px rgba(255,255,255,0.7);
}

.social-media i:hover {
    background-color: rgba(233,62,91);
    color: white;
}

@media (max-width: 768px){
    .container{
        width: 100%;
    }
    .container .content-box{
        width: 100%;
    }
    .container .content-box .content{
        width: 75%;
    }
}